* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100%;
    background: rgb(109, 155, 150);
    display: flex;
    border: 1px solid gray;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 7px;

}

.mainner {
    height: fit-content;
    width: fit-content;
    padding: 2px 14px 18px 0;
    text-align: center;
    justify-content: center;
    background: rgba(131, 123, 32, 0.5);
    position: relative;
    box-shadow: 11px 2px 5px 23px gray;

}

.main .mainner .header {
    width: auto;
    height: auto;
    padding: 14px;
    display: flex;

}

.main .mainner .header img {
    height: 96px;
    width: 174px;
    border-radius: 16px;

}

.button {
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: none;
    color: cyan rgb(85, 95, 95);
}

.button #setupBtn {
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: none;
    background: rgb(85, 95, 95);
    gap: 5px;
    padding: 12px;
    color: cyan rgb(85, 95, 95);
    padding-bottom: 5px;
    border-radius: 12px;
}

.button #setupBtn:hover {
    background: white;
    color: #000;
}

.